body {
    background-color: #f4f1de;
    overflow-x: hidden;
    margin: 0;
}

p {
    font-family: Atkinson Hyperlegible, Arial;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: underline;
    color: inherit;
}

.topnav {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #e07a5f;
    height: auto;
}

.topnav a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: #f4f1de;
    border: none;
    background-color: #e07a5f;
    font-family: Atkinson Hyperlegible, Arial;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.6s;
}


.menu:hover {
    background-color: #3d405b;
}

.footnote {
    color: #f4f1de;
    border: none;
    background-color: #e07a5f;
    font-family: Atkinson Hyperlegible, Arial;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.run {
    display: block;
    margin: auto;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.hourglass {
    width: 300px;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    }

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-pop {
    animation-duration: 0.7s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-pop {
    0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
    }

    100% {
    opacity: 1;
    transform: scale(1, 1);
    }
}

.animate.slide {
    animation-name: animate-slide;
}

@keyframes animate-slide {
    0% {
    opacity: 0;
    transform: translate(0, 20px);
    }

    100% {
    opacity: 1;
    transform: translate(0, 0);
    }
}

.delay-1 {
    animation-delay: 0.6s;
}

.delay-2 {
    animation-delay: 0.7s;
}

.delay-3 {
    animation-delay: 0.8s;
}

.delay-4 {
    animation-delay: 0.9s;
}

.delay-5 {
    animation-delay: 1s;
}

.delay-6 {
    animation-delay: 1.1s;
}

.greeting {
    color: #3d405b;
    margin: 30px;
    text-align: center;
    font-family: Oleo Script, Serif;
    font-size: 120px;
    line-height: 90px;
}

.heading {
    color: #3d405b;
    margin: auto;
    font-family: Oleo Script, Serif;
    font-size: 115px;
    margin-left: 20px;
    margin-right: 20px;
}

.spaces {
    margin-right: 75px;
}

.round-box {
    background-color: #e07a5f;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.text {
    color: #F4F1DE;
    font-weight: 700;
    font-size: 1.25em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 400px 500px;
}

.profile-box {
    color: #161720;
    text-align: justify;
    font-weight: 700;
    padding: 15px;
    border-radius: 30px;
    width: 30%;
    margin: 10px;
}

#profile {
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 40px;
    height: auto;
    background-color: #F2CC8F;
    margin-bottom: 50px;
}

#socials {
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 40px;
    height: 250px;
    background-color: #81B29A;
    margin-bottom: 50px;
    padding: 10px;
}

ul.profile-box {
    font-family: Atkinson Hyperlegible, Arial;
}

ul li {
    margin-left: 17px;
}

.italic {
    font-style: italic;
}

.dark-blue {
    color: #3d405b;
}

.grid-row {
    display: grid;
    grid-template-rows: auto auto;
}

.grid-col {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}

.icon {
    background-color: none;
    margin: auto;
    padding: 10px;
    width: 100px;
    transition: width 0.5s;
}

.icon:hover {
    width: 85px;
}

.goodreads {
    border-radius: 50px;
}

#projects {
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    background-color: #3d405b;
    height: auto;
}

#projects-top, #socials-top, #profile-top, #movies-top, 
#contact-top {
    height: 50px;
}

.paper {
    height: 150px;
}

.projects-header {
    margin: 50px;
    color: #f4f1de;
}

.timeline {
    margin: auto;
    padding: 0 20px 0 30px;
    border-left: 5px solid #f4f1de;
}

.project {
    background-color: #F2CC8F;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: static;
}

.project:before {
    background-color: #f4f1de;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    top: 10px;
    left: -55px;

}

h1 {
    font-family: Atkinson Hyperlegible, Arial;
    font-size: 20px;
    margin: 0;
}

.img-container {
    padding: 20px;
    text-align: center;
}

.proj-img {
    height: 250px;
    margin: auto;
    border-radius: 20px;
    transition: box-shadow 0.5s;
}

.proj-img:hover {
    box-shadow: 3px 3px 20px white;
}

.footbar {
    margin-top: 100px;
    padding: 20px;
    background-color: #e07a5f;
    height: 100px;
}

.movie-list {
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    display: inline-block;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 40px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f2cc8f;
    height: auto;
}

.movie-list-2 {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #3d405b;
}

.movie {
    height: 300px;
    transition: height 0.7s;
}

.movie:hover {
    height: 320px;
    cursor: pointer;
    box-shadow: 5px 5px 20px #1617207d;
}

.desc {
    margin: 20px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  

  input[type=submit] {
    font-family: inherit;
    font-size: 16px;
    background-color: #e07a5f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  input[type=submit]:hover {
    background-color: #824b3b;
  }

  .form-container {
    border-radius: 20px;
    background-color: #81b29a;
    padding: 20px;
    width: auto;
    margin-right: 80px;
    margin-left: 80px;
    font-family: Atkinson Hyperlegible, Arial;
  }

  #subject {
    height: 200px;
  }

  .popcorn {
    height: 200px;
  }